<div class="container-fluid">

    <h1>Blog List</h1>

    <ul class="list-group">
        <f:for each="{blogs}" as="blog">
            <li class="list-group-item">{blog.title}
                <f:link.action action="deleteConfirm" arguments="{blog:blog}" class="btn btn-primary btn-sm float-right"><span class="fa fa-trash" aria-hidden="true"></span> DEL</f:link.action>
                <f:link.action action="updateForm" arguments="{blog:blog}" class="btn btn-primary btn-sm float-right mr-1"><span class="fa fa-pencil" aria-hidden="true"></span> EDIT</f:link.action>
                <f:link.action action="show" arguments="{blog:blog}" class="btn btn-primary btn-sm float-right mr-1"><span class="fa fa-eye" aria-hidden="true"></span> SHOW</f:link.action>
            </li>
        </f:for>
    </ul>
    <br />
    <f:link.action action="addForm" class="btn btn-primary">Add Blog</f:link.action>

</div>